.stickytop{
	position:relative;
}
.topofheader .topofheaderitems{
	display: flex;
	flex-direction: row;
	background-color: #231f20;
	height: 100px;
	justify-content:space-between;
}
.topofheaderitems{
	display: flex;
	flex-direction: row;
}

.logo{
	display: flex;
	margin-left: 30px;
	margin-top: 12px;
}
#spiderlogo{
	width: 70px;
	height: 70px;
}

.searchbar{
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 100%;
	border-radius: 10px;
	margin: auto;
	background-color: #f7f4f2;
	max-width: 400px;
}
.searchiconarea{
	display: flex;
	padding-right: 13px;
	background-color: #ff6128;
	border-radius: 0 10px 10px 0;
}
.searchicon{
	margin-top: 3px;
	margin-left: 10px;
}
#inputsearchicon{
	color: #f7f4f2;
}
.searchbar input{
	border: hidden;
	outline: none;
	border: none;
	background-color: transparent;
	color: rgba(0, 0, 0, .87);
	flex: 100%;
	margin: 0 8px 0 8px;
}
textarea:focus, input:focus{
	outline: none;
}


.login_cart{
	display: flex;
	margin-top: 37px;
	margin-right: 30px;
}
.login{
	color: #f7f4f2;
	padding-right: 30px;
	font-family: Arial, Helvetica, sans-serif;

}
.login:hover{
	color: #423b3c;

}
.logindropdown a{
	text-decoration: none;
}
.cart{
	color: #f7f4f2;
}
