.animalgrid{
    display: flex;
    margin: 30px auto 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7e2de;
}
.griditem{
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
}
.griditems{
    border: 1px solid #e7e2de;
    background-color: white;
    max-width: 132px;
    text-align: center;
    font-size: 10px;
}
.griditems h2{
    font-family: Arial, Helvetica, sans-serif;
}
.griditems h1{
    color: #ff6128;
    margin: 10px;
}
#gridimage{
    width: 130px;
    height: 130px;
}
.griditems:hover{
    background-color: #231f20;
}
.griditems:hover> h1, .griditems:hover h2{
    color: #f7f4f2;
}

