#logininputs {
    display:flex;
    width: 20%;
    height: 375px;
    flex-direction: column;
}
#logininputs input {
    align-items: center;
    justify-content: center;
    height: 20px !important;
}

body #logininputs{
    display: flex;
    justify-content: center;
    margin:auto
}

